<html>
  <head>
    <title>Express HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div style="margin:100px;">
      <div class="jumbotron"  style="padding:40px;text-align: center;">
        <h1>Tu Tienda De Tenis</h1>
        <p>Comprar set profesional - 100€</p>
        <img src="https://cdn.wallapop.com/images/10420/4t/j2/__/c10420p291462688/i653433749.jpg?pictureSize=W640" style="max-height:300px;margin-bottom:15px;">
        <p><a class="btn btn-primary btn-lg" href="/waccount" role="button">Pagar con InstantPay (Con cuenta)</a></p>
        <p><a class="btn btn-primary btn-lg" href="/naccount" role="button">Pagar con InstantPay (Sin cuenta)</a></p>
      </div>
    </div>
  </body>
  </html>